* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    overflow-x: hidden;
}
button,input {
    border: 0;
    outline: none;
    /* 清除默认的灰色蓝色边框 */
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #94ebff;
}
li {
    list-style: none;
}
h1,h4,h2,h3 {
    font-weight: 400;
}
img {
    border: 0;
    vertical-align: middle;
    /* 取消图片底侧有空白缝隙的问题 */
}