body {
    background-color: #f5f5f5;
}
section {
    width: 1200px;
    /* height: 5000px; */
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 50px;
}
.banner_left {
    width: 900px;
    height: 100%;
    background-color: azure;
}
/* 评论发送提醒 */
.remind {
    position: fixed;
    width: 230px;
    height: 70px;
    background-color: #ffffff;
    top: 300px;
    left: 610px;
    z-index: 999;
    display: none;
}
.remind p {
    line-height: 70px;
    text-align: center;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}
.remind_close {
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 5px;
}
.remind_close:hover {
    color: skyblue;
    cursor: pointer;
}
/* 顶部歌单信息部分 */
.head {
    float: left;
    width: 100%;
    height: 310px;
    background-color: #ffffff;
}
.img_box {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0 25px 0 20px;
}
.head_img,
.album {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25px;
    left: 0;
}
.ar_box {
    width: 200px;
    height: 25px;
    float: left;
    margin: -15px 0 0 0;
}
.ar_img {
    float: left;
    width: 25px;
    height: 25px;
    /* margin: 60px 5px 0 0; */
}
.head h1 {
    float: left;
    width: 600px;
    margin: 20px 0 20px -5px;
    font-size: 25px;
}
.head .ar_box h4 {
    display: inline-block;
}
.head h4:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.head ul {
    float: left;
    margin: -85px 0 0 245px;
}
.head ul li {
    float: left;
    width: 500px;
    margin: 0 0 10px 0;
}
/* 三个按钮部分 */
.btn_box {
    float: left;
    width: 420px;
    height: 50px;
    margin: 0 0 0 230px;
}
.btn_box span {
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
    margin: 0 8px;
    border: 1px solid grey;
    cursor: pointer;
}
.btn_box span:hover {
    background-color: #f5f5f5;
}
.btn_box span:nth-child(1) {
    color: white;
    background-color: #408db1;
}
.btn_box span:nth-child(1):hover {
    background-color: skyblue;
}
/* 导入的歌曲部分 */
.fav_music {
    float: left;
    width: 900px;
    height: 785px;
    background-color: #ffffff;
    /* margin: 50px auto; */
}
.fav_music .start {
    padding: 10px;
    border: 1px solid grey;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.fav_music .start:hover {
    color: #ffffff;
    background-color: #408db1;
}
.fav_head {
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    margin: 10px 0 0 0;
}
.my_songlist li {
    position: relative;
    height: 50px;
    margin: 0 0 20px 0;
}
.my_songlist span{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    /* 2.文字溢出强制一行内显示 */
    white-space: nowrap;
    /* 3.溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
}
.my_songlist span:hover {
    color: #94ebff;
    cursor: pointer;
}
.num {
    width: 50px;
    text-align: center;
}
 .song_name{
    width: 350px;
    margin: 0 0 0 -5px;
    background-color: #f5f5f5;
}
 .ar_name {
    width: 170px;
    background-color: #f5f5f5;
}
 .al_name {
    width: 170px;
    background-color: #f5f5f5;
}
 .time {
    width: 100px;
    background-color: #f5f5f5;
}
/* 我创建的歌单部分 */
.songlist {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.my_songlist {
    background-color: #ffffff;
    padding: 15px 0;
}
/* 播放 添加 评论 下载 的小图标部分 */
.icon_box {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 0;
    left: 240px;
    z-index: 99;
    background-color: #f5f5f5;
}
.icon_box span {
    color: grey;
    font-size: 26px;
    margin: 0 5px;
}
.disappear {
    display: none !important;
}
/* 歌单评论部分 */
.review_all {
    float: left;
    width: 900px;
    /* height: 800px; */
    background-color: #ffffff;
    padding: 0 0 0 20px;
}
.review_all .input h1{
    display: inline-block;
}
.input input {
    width: 860px;
    height: 160px;
    padding: 0 0 135px 0;
    margin: 10px 0 0 0;
    background-color: #f7f7f7;
}
.input button {
    float: right;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 10px 40px 0 0;
    color: white;
    background-color: #408db1;
    cursor: pointer;
}
.input button:hover {
    background-color: skyblue;
}
/* 热门评论部分 */
.hot_review,
.new_review{
    margin: 40px 0 0 0;
}
.hot_review h4,
.new_review h4{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
}
.hot_review ul li,
.new_review ul li {
    position: relative;
    width: 830px;
    padding: 20px 0 20px 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
}
.hot_review ul li img,
.new_review ul li img{
   position: absolute;
   width: 38px;
   height: 38px;
   border-radius: 100%;
   margin: 0 20px 0 0;
   top: 10px;
   left: 10px;
}
.hot_review .hot_name,
.new_review .new_name {
    color: #408db1;
}
.hot_review .hot_content,
.new_review .new_sontent {
    width: 800px;
}
/* 右端部分 */
.banner_right {
    width: 300px;
    /* height: 800px; */
    float: left;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.521);
    margin: -1095px 0 0 0;
    padding: 20px;
}
.banner_right h4 {
    display: block;
    width: 235px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid grey;
}
.brief {
    margin: 0 0 80px 0;
}
.brief li {
    margin: 5px 0;
}
.love_users {
    width: 100%;
    height: 160px;
}
.user_box li {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 24px 0 0;
}
.user_box img {
    width: 40px;
    height: 40px;
}
.relevantlist ul {
    margin: 20px 0 0 0;
}
.relevantlist ul li {
    width: 235px;
    height: 50px;
    margin: 10px 0;
}
.rel_img {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
}
.rel_name {
    float: left;
    width: 180px;
    font-size: 14px;
    /* 2.文字溢出强制一行内显示 */
    white-space: nowrap;
    /* 3.溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
}
.rel_name:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.rel_arname {
    float: left;
    width: 70px;
    font-size: 12px;
    /* 2.文字溢出强制一行内显示 */
    white-space: nowrap;
    /* 3.溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
}