/* 音乐播放页面 */
body {
    background: url(../images/music_bck.jpg) ;
    height: 100%;
}
/* 头部部分 */
header {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.527);
}
header h1 {
    float: left;
    line-height: 50px;
    color: #ffffff;
}
header .user {
    float: right;
    height: 50px;
}
header #user_img {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
header #user_name {
    float: right;
    line-height: 50px;
    color: #ffffff;
}
/* 歌词歌曲部分 */
.album_box {
    width: 400px;
    margin: 70px 0 0 80px;
}
.album {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgba(128, 128, 128, 0.726);
}
#album_img {
    width: 360px;
    height: 360px;
    border: 50px solid black;
    border-radius: 100%;
    margin: 20px;
}
/* 歌词滚动部分 */
.lyric_box {
    width: 460px;
    height: 254px;
    /* border: 1px solid blanchedalmond; */
    margin: -340px 0 0 540px;
    /* background-color: rgba(0, 0, 0, 0.527); */
    background-size: 300px 200px;
    color: black;
}
.lyric_run {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 270px;
    /* margin-top: 50px; */
}
.lyric {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    transition: top .2s linear;
    white-space: pre;
}
.lyric li {
    list-style: none;
    font-size: 18px;
    color: #ffffff;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 15px 0;
}
.lyric .active {
    color: skyblue;
}


/* 下端播放栏部分 */
.music_play {
    width: 1000px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 264px;
}
.music_play span,
.music_play p {
    color: #ffffff;
    cursor: pointer;
}
.music_play span:hover {
    color: skyblue;
}
/* 播放栏的图标部分 */
.music_play .iconfont {
    font-size: 26px;
}
.rewind,
.play,
.forward {
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 100%;
}
.rewind:hover {
    border: 2px solid skyblue;
}
.play:hover {
    border: 2px solid skyblue;
}
.forward:hover {
    border: 2px solid skyblue;
}
/* 歌曲封面  */
.song_box{
    float: left;
   width: 250px;
   height: 80px;
}
.song_box img {
    float: left;
    margin: 0 10px 0 0;
}
.song_box span {
    float: left;
    width: 160px;
}
#song_name {
    /* height: 40px; */
    /* 2.文字溢出强制一行内显示 */
    white-space: nowrap;
    /* 3.溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
    margin: 15px 0 5px 0;
}
#singer_name {
    /* width: 200px; */
    /* 2.文字溢出强制一行内显示 */
    white-space: nowrap;
    /* 3.溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
}
/*播放图标样式*/
/* 前后播放部分 */
.broadcast {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: -75px;
    padding: 10px 0 0 0;
}
.broadcast span {
    margin: 0 10px;
}
.music_img {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
/* 音乐时间部分 */
.music_time {
    float: left;
    margin: -5px 0 0 -100px;
}
/* 音量图标部分 */
#voice_box {
    position: relative;
    float: right;
    width: 120px;
    height: 5px;
    border: 1px solid #000;
    margin: 0 10px 0 0;
    position: relative;
    background-color: #ffffff;
}

#voice {
    width: 0px;
    height: 5px;
    background: skyblue;
    position: absolute;
}

#voice_span {
    height: 17px;
    width: 10px;
    background: skyblue;
    display: block;
    border-radius: 10px;
    position: absolute;
    top: -6px;
}
#jy {
    position: absolute;
    left: -40px;
    top: -10px;
}
#p1{
    position: absolute;
    height: 40px;
    top: 10px;
    left: -40px;
}
/*进度条*/
.jindu_bg{
    float: left;
   border-radius: 6px;
   border: 1px solid #787463;
   width: 440px;
    height: 8px;
    background-color: #ffffff;
    margin: 20px 0 0 50px;
}

.jindu_color{
   width: 0px;
   height: 7px;
   background-color: skyblue;
   border: 1px solid #787463;
   border-radius: 4px;
   margin: -1px 0 0 0;
}
/* 歌曲评论和播放列表部分 */
.review_songlist {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.534);
    top: 110px;
    right: 60px;
}
.review_songlist .head {
    width: 100%;
    height: 60px;
    padding: 0 86px;
}
.review_songlist .head span {
    float: left;
    line-height: 60px;
    margin: 0 25px;
    color: #ffffff;
    cursor: pointer;
}
/* 点击高亮效果 */
.review_songlist .head .selected {
   color: skyblue;
   border-bottom: 1px solid skyblue;
}
.review_box {
    width: 100%;
    height: 440px;
}
.review_songlist_box {
    position: absolute;
    width: 100%;
    height: 440px;
    overflow: auto;
    /* 溢出自动转换为滚动条 */
    top: 60px;
    left: 0;
}
.review {
    width: 100%;
    padding: 10px;
    /* 1.文字溢出自动换行 */
    white-space: normal;
    /* 溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
    margin: 10px 0;
}
.review .review_img {
    float: left;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
.review .nickname {
    float: left;
    width: 300px;
    font-size: 12px;
    color: skyblue;
    margin: 0 0 10px 0;
}
.review .view {
    float: left;
    width: 300px;
    font-size: 13px;
    color: #ffffff;
}
.review_songlist_box::-webkit-scrollbar {
    width: 10px;
    /* display: none; */
  }
/* 修改 滚动条的 下面 的 样式 */
.review_songlist_box::-webkit-scrollbar-track {
    background-color:  rgba(0, 0, 0, 0.534);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
 /* 修改 滑块 */
 .review_songlist_box::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.63);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }

  /* 歌曲列表部分 */
.musiclist {
    /* position: absolute; */
    width: 100%;
    height: 440px;
    /* top: 60px; */
    /* left: 0; */
}
.musiclist ul {
    width: 100%;
    height: 100%;
}
.musiclist ul li {
    width: 100%;
    height: 40px;
    padding: 0 15px;
}
.musiclist ul li span{
    line-height: 40px;
    color: #ffffff;
    cursor: pointer;
    /* 1.文字溢出自动换行 */
    white-space: nowrap;
    /* 溢出部分隐藏 */
    overflow: hidden;
    /* 文字溢出以省略号显示 */
    text-overflow: ellipsis;
}
.musiclist ul li span:hover {
    color: skyblue;
}
.music_name {
    float: left;
    width: 200px;
}
.music_ar_name {
    float: left;
    width: 120px;
}
.musictime {
    float: right;
    width: 40px;
}