@font-face {
  font-family: "iconfont"; /* Project id 2479175 */
  src: url('iconfont.woff2?t=1620479056577') format('woff2'),
       url('iconfont.woff?t=1620479056577') format('woff'),
       url('iconfont.ttf?t=1620479056577') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingyin:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-aixin:before {
  content: "\e602";
}

.icon-xiangyouzhankai:before {
  content: "\e8a7";
}

.icon-xiangzuoshouqi:before {
  content: "\e8a8";
}

.icon-zanting:before {
  content: "\e76a";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-xiazai:before {
  content: "\e601";
}

.icon-Group-:before {
  content: "\e68a";
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-pinglun:before {
  content: "\e647";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-ziyuan:before {
  content: "\e618";
}

.icon-xunhuan:before {
  content: "\e611";
}

.icon-yinliangdefuben:before {
  content: "\e80c";
}

.icon-shexiangji:before {
  content: "\ec59";
}

.icon-xiangshangjiantou:before {
  content: "\e613";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-pingguo:before {
  content: "\e624";
}

.icon-pc:before {
  content: "\e609";
}

.icon-lajitong:before {
  content: "\e615";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-zuojiantou:before {
  content: "\e62b";
}

.icon-mac:before {
  content: "\e689";
}

.icon-bofang2:before {
  content: "\e629";
}

.icon-android-fill:before {
  content: "\eaa3";
}

.icon-play:before {
  content: "\e688";
}

.icon-right-arrow:before {
  content: "\e68d";
}

.icon-play-square:before {
  content: "\eb16";
}

